---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

import CardsContainer from "../../components/simple/CardsContainer.astro";

// utils imports
import { formatBlogPosts } from "../../scripts/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts, {
    limit: true,
  });

  return paginate(formattedPosts, {
    pageSize: 6,
  });
}

const { page } = Astro.props;
---

<MainLayout
  title="Blog"
  description="Main blog posts">
  <section aria-label="New blog posts">
    <h1>Newest blog posts</h1>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
    <CardsContainer>
      {
        page.data.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </CardsContainer>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
  </section>
  <aside aria-label="Blog Categories">
    <h2>Blog Categories</h2>
    <CategoryCloud showCount={true} />
  </aside>
</MainLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--rem-lg);
  }

  aside {
    padding: var(--rem-lg);
  }
</style>
