---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

// utils imports
import { formatBlogPosts } from "../../scripts/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts, {
    limit: true,
  });

  return paginate(formattedPosts, {
    pageSize: 3,
  });
}

const { page } = Astro.props;
---

<MainLayout
  title="Blog"
  description="Main blog posts">
  <section aria-label="New blog posts">
    <h1>New blog posts</h1>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
    <div class="card-container">
      {
        page.data.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
  </section>
  <aside aria-label="Blog Categories">
    <h2>Blog Categories</h2>
    <CategoryCloud showCount={true} />
  </aside>
</MainLayout>

<style lang="scss">
  section {
    --current-font-size: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--rem-xl);

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(225px, 100%), 1fr));
      justify-items: center;
      gap: var(--rem-lg);
      width: 100%;
    }

    h1 {
      font-size: var(--current-font-size);
    }
  }

  aside {
    padding: var(--rem-lg);
  }
</style>
