---
// astro imports
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import type { HTMLAttributes } from "astro/types";

interface Projects {
  title?: string;
  shortDescription?: string;
  src?: string;
  alt?: string;
  repository?: string;
  liveDemo?: string;
}

interface Props extends HTMLAttributes<"div"> {
  projects?: Projects[];
}

const { projects } = Astro.props;
---

<div class="img-grid">
    {projects?.map(({ src, alt, title, repository, liveDemo, shortDescription }) => (
    <div class="img-wrapper">
        <h3 class="title">{title}</h3>
        <p class="short-description">{shortDescription}</p>
        <Image src={`${src}`} data-original-src={src} width={200} height={300} alt={`${alt}`} position="top" class="img-about" format="webp" quality={100}/>
        <Image src={`${src}`} data-original-src={src} width={400} height={300} alt={`${alt}`} position="top" class="img-about phone" format="webp" quality={100}/>
        <Icon name="mdi:magnify-expand" class="hover-icon" />
        <div class="project-links">
            <a class="repo" href={repository} target="_blank"><Icon name="mdi:github" /> Repo</a>
            <a class="demo" href={liveDemo} target="_blank"><Icon name="mdi:link-variant" /> Demo</a>
        </div>
    </div>
    ))}
</div>

<dialog class="pop-up-container">
    <img src="/" alt="/" class="expanded-image">
</dialog>

<style lang="scss">
    .img-grid {
        --width: 200px;
        --height: 300px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(var(--width), 100%), 1fr));
        justify-items: center;
        gap: 1rem;

        padding-block: var(--rem-lg);

        @media (max-width: 970px) {
            --width: 400px;
            --height: 300px;
            grid-template-columns: repeat(auto-fit, minmax(min(var(--width), 100%), 1fr));

            .img-about {
                display: none;

                &.phone {
                    display: block !important;
                }
            }
        }

        @media (max-width: 970px) {
            gap: 5rem;

            .project-links {
                    opacity: 1 !important;
            }
        }

        .img-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: var(--width);
            max-width: 100%;

            position: relative;
            isolation: isolate;


            &:is(:hover, :focus-visible) {
                .img-about {
                    box-shadow: 0 0 20px hsl(var(--font) / .1);
                }

                @media (min-width: 970px) {
                    .project-links {
                        opacity: 1;
                    }
                }
            }

            .short-description {
                margin-block-end: .75em;
                text-align: center;
                font-size: .875rem;
                opacity: .8;
            }

            .hover-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 4em;
                color: hsl(var(--font));

                opacity: 0;
                pointer-events: none;

                transition: opacity 150ms ease-in;
            }

            .img-about {
                cursor: pointer;
                margin-block-start: auto;
                border-radius: .25rem;

                &:is(:hover) {
                    & ~ .hover-icon {
                        opacity: .6;
                    }
                }

                &.phone {
                    display: none;
                    max-width: 100%;
                    object-fit: contain;
                }
            }

            .project-links {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;

                display: flex;

                opacity: 0;

                z-index: 2;

                transition: opacity 150ms ease-in;

                a {
                    flex: 1 0 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .25rem;

                    padding-block: var(--rem-sm);
                    text-decoration: none;
                    text-transform: uppercase;

                    opacity: 1;

                    &:is(:hover, :focus-visible) {
                        opacity: .8;
                    }

                    &.repo {
                        color: hsl(var(--button-font));
                        background-color: hsl(var(--button));
                        border-bottom-left-radius: .25rem;
                    }

                    &.demo {
                        color: hsl(var(--button));
                        background-color: hsl(var(--button-font));
                        border-bottom-right-radius: .25rem;
                    }


                    svg {
                        width: 1.1em;
                    }
                }
            }
        }
    }

    .pop-up-container {
        position: fixed;
        bottom: 0;
        left: 25%;

        width: 100%;
        width: var(--container-max-width);
        height: 100%;
        margin-inline: 0;
        padding: 0;

        background-color: hsl(0 0% 8% / .3);
        border: none;
        border-radius: .25rem;

        outline: 1px solid hsl(var(--font) / .5);
        
        overflow-y: scroll;

            @media (min-width: 1400px) {
                margin-inline: 1rem;
            }

            @media (max-width: 1200px) {
                left: 50%;
                transform: translate(-50%, 0%);
                margin-inline: 0;
            }

        .expanded-image {
            display: block;
            max-width: var(--container-max-width);
            max-height: auto;
            margin: auto;
        }
    }
</style>

<script>
    import '../../scripts/projects.js';
</script>