---
//library import
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

// utils import
import { formatDate, slugify } from "../scripts/utils.js";

// components import
import Link from "../components/simple/Link.astro";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, description, date, category, author, image } = frontmatter;
---

<article class="card">
  <small class="tag">
    <a href={`/category/${slugify(category)}`}>{category}</a>
  </small>
  <a
    href={url}
    aria-hidden="true"
    tabindex="-1"
    class="card-link">
    <Image
      src={image.src}
      alt={image.alt}
      width={600}
      height={300}
      format="webp"
      fit="cover"
      quality={100}
      class="link-image"
    />
  </a>
  <div class="content">
    <div class="author">
      <Tag tabindex="-1">
        <a
          href={url}
          class="card-link"
          >{title}</a
        >
      </Tag>
      <small>
        <div class="author-date">
          <div>
            <Icon
              class="icon"
              name="ic:baseline-account-box"
            />
            <Link
              href={`/author/${slugify(author)}`}
              class="card-link"
              >{author}</Link
            >
          </div>
          <div>
            <Icon
              class="icon"
              name="ic:baseline-calendar-month"
            />
            {formatDate(date)}
          </div>
        </div>
      </small>
    </div>
    <p class="description">{description}</p>
    <div class="button read-more">
      <a
        href={url}
        aria-labelledby=`Read more about ${title}`
        >Read post</a
      >
    </div>
  </div>
</article>

<style lang="scss">
  .card {
    background: hsl(var(--card-background));
    border-radius: 0.25rem;
    position: relative;

    background-image: linear-gradient(
      145deg,
      transparent,
      hsl(var(--font) / 0.01) 70%,
      hsl(var(--font) / 0.1)
    );
    background-size: 400%;
    background-position: 60% 60%;

    transition: background 0.1s;

    &:is(:hover) {
      outline: 1px solid hsl(var(--font) / .3);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
        hsl(var(--highlight) / .01),
        transparent 12vmin
      );
      background-attachment: fixed;
      opacity: var(--active, 0);
      transition: opacity 0.2s;
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
          circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
          hsl(var(--highlight) / .05),
          transparent 12vmin
        ),
        transparent;
      background-attachment: fixed;
      pointer-events: none;
      mask: linear-gradient(white, white) 50% 0 / 100% 4px no-repeat,
        linear-gradient(white, white) 50% 100% / 100% 4px no-repeat,
        linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
        linear-gradient(white, white) 100% 50% / 4px 100% no-repeat;
    }

    small {
      &.tag {
        display: flex;
        align-items: center;

        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: var(--rem-lg);

      .author {
        margin-block-end: var(--rem-lg);

        & > :first-child {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 4.5rem;
          font-size: 1.5rem;
        }

        p {
          display: flex;
          align-items: baseline;
          gap: 0.25rem;

          margin: 0;
          font-size: 0.75rem;
        }

        .author-date {
          display: grid;
          gap: 0.25rem;
          color: hsl(var(--font) / 0.7);

          a {
            display: block;
            z-index: 2;
          }

          & > div {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            & > * {
              max-height: 16px;
            }
          }
        }
      }

      .card-link {
        color: hsl(var(--font));
        text-decoration: none;
        max-height: 150px;

        overflow: hidden;

        &:is(:hover, :focus-visible) {
          color: hsl(var(--main-color));
          outline: transparent;

          transition: color 300ms ease;

          &:focus-visible {
            background-color: hsl(var(--font));
            color: hsl(var(--background));
          }
        }
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 3rem;
        color: hsl(var(--font) / 0.8);
      }

      .button {
        align-self: flex-end;
        z-index: 5;
      }
    }
  }

  .card:hover {
    --active: 1;
  }

  .link-image {
    width: 100%;
    height: 150px;
    border-radius: 0.25rem 0.25rem 0 0;
    object-fit: cover;
  }

  .tag {
    filter: drop-shadow(2px 2px 2px hsl(var(--background) / 0.3));
  }

  .icon {
    max-width: 16px;
  }
</style>

<script>
  import "../scripts/postcard.js";
</script>
