---
//library import
import { Image } from "@astrojs/image/components";

// utils import
import { formatDate, slugify } from "../scripts/utils.js";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, description, date, category, author, image } = frontmatter;
---

<article class="card">
  <div class="wrapper-effect">
    <small class="tag">
      <a href={`/category/${slugify(category)}`}>{category}</a>
    </small>
    <a
      href={url}
      aria-hidden="true"
      tabindex="-1"
      class="card-link">
      <Image
        src={image.src}
        alt={image.alt}
        width={600}
        height={300}
        aspectRatio={2 / 1}
        format="webp"
        fit="cover"
        quality={100}
        class="link-image"
      />
    </a>
    <div class="content">
      <div class="author">
        <Tag>
          <a
            href={url}
            class="card-link"
            >{title}</a
          >
        </Tag>
        <p class="author-link">
          by <a
            href={`/author/${slugify(author)}`}
            class="card-link"
            >{author}</a
          > 
          <i class="fa-solid fa-calendar-days"></i>
          {formatDate(date)}
        </p>
      </div>
      <p class="description">{description}</p>
      <div class="button read-more">
        <a
          href={url}
          aria-labelledby=`Read more about ${title}`
          >Read more</a
        >
      </div>
    </div>
  </div>
</article>

<style lang="scss">
    #cards-container:hover > .card::after {
    opacity: 1;
}

  .card {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --background-lighter: 0 0% 14%;
    display: flex;
    flex-direction: column;
    min-height: 360px;

    background-color: hsl(var(--background-lighter));
    border-radius: .25rem;
    position: relative;

    &:hover::before {
      opacity: 1;
    }

    &::before,
    ::after {
      position: absolute;
      content: "";
      border-radius: inherit;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: 0;
      transition: opacity 500ms;
      pointer-events: none;
    }

    &::before {
      background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
      );
      z-index: 3;
    }

    &::after {
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.4),
        transparent 40%
      );
      z-index: 1;
      opacity: 1;
    }

    .wrapper-effect {
      background-color: var(--card-color);
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      inset: 1px;
      position: absolute;
      z-index: 2;
    }

    small {
      display: flex;
      align-items: center;

      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: var(--rem-lg);

      .author {
        &:first-child {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 4.5rem;
        }

        p {
          display: flex;
          align-items: baseline;
          gap: .25rem;

          margin: 0;
          font-size: 0.75rem;
        }

        .author-link {
          color: hsl(var(--font) / 0.7);
        }
      }

      .card-link {
        color: hsl(var(--font));
        text-decoration: none;

        &:is(:hover, :focus-visible) {
          color: hsl(var(--main-color));
          outline: transparent;

          transition: color 300ms ease;

          &:focus-visible {
            background-color: hsl(var(--font));
            color: hsl(var(--background));
          }
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:is(:first-child) {
          margin: 0;
        }
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-block-start: auto;
        height: 3rem;
        color: hsl(var(--font) / 0.8);
      }

      .button {
        align-self: flex-end;
        z-index: 5;
      }
    }
  }

  .link-image {
    width: 100%;
    max-height: 150px;
    border-radius: .25rem .25rem 0 0;
  }

  .tag {
    filter: drop-shadow(2px 2px 2px hsl(var(--background) / 0.3));
  }
</style>

<script>
  import "../scripts/postcard.js";
</script>
