---
// component import
import MainLayout from "../layouts/MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";

const { frontmatter } = Astro.props;

const {
    title, description, date, category, author, image
} = frontmatter;
---

<MainLayout {title} {description}>
    <PostHeader 
        {title}
        {description}
        {date}
        {category}
        {author}
        {image}
    />
    <div class="blog-post">
        <section>
            <div>
                <slot />
            </div>
        </section>
        <aside aria-label="Blog Categories">
            <h2>Blog Categories</h2>
            <CategoryCloud limit="3" />
        </aside>
    </div>
</MainLayout>

<style lang="scss">
    .blog-post {
        display: flex;
        flex-wrap: wrap;

        & > section {
            flex: 1 0 min(450px, 100%);
        }

        & > aside {
            flex: 1 0 0;
        }
    }

    aside {
        padding: var(--rem-lg);
    }
</style>