---
// astro imports
import { ViewTransitions } from 'astro:transitions';

// component imports
import Seo from "../components/Seo.astro";

const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link
    rel="icon"
    href="/favicon.svg"
    type="image/svg+xml"
  />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>
  <meta
    name="description"
    content={description}
  />

  <Seo
    {title}
    {description}
    url={Astro.url}
    {image}
    {frontmatter}
    {robots}
  />

  <link
    rel="sitemap"
    href="/sitemap-index.xml"
  />

  <ViewTransitions />
</head>
