---
import MainHead from "./MainHead.astro";
import BackgroundNoise from "../components/utility/BackgroundNoise.astro";
import Nav from "../components/Nav.astro";
import "../css/global.scss";

const {
  title = "Myndi Portfolio and Blog",
  description = "Portfolio and Blog built with Astro by Myndi",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="es" class="dark">
  <MainHead
    {title}
    {description}
    {image}
    {frontmatter}
    {robots}
  />
  <body>
    <BackgroundNoise />
    <div
      id="layout"
      class="layout"
      >
      <Nav />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>